name: Go Build

on:
  push:
    branches:
      - main  # Запускать workflow при пуше в ветку main
  pull_request:
    branches:
      - main  # Запускать workflow при создании pull request в ветку main

jobs:
  build:
    runs-on: ubuntu-latest  # Используем последнюю версию Ubuntu

    steps:
      - name: Checkout code
        uses: actions/checkout@v3  # Клонируем репозиторий

      - name: Set up Go
        uses: actions/setup-go@v4  # Устанавливаем Go
        with:
          go-version: '1.21'  # Укажите версию Go, которую используете

      - name: Build
        run: go build -v ./...  # Собираем проект

      - name: Test
        run: go test -v ./...  # Запускаем тесты (если они есть)

#      - name: Run golangci-lint
#        run: |
#          curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.54.2
#          golangci-lint run